/.cache/v/cache/lastfailed
/.idea/PageSpider.iml
/.idea/.gitignore
# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/codeStyles/codeStyleConfig.xml
/misc.xml
/modules.xml
/inspectionProfiles/profiles_settings.xml
/vcs.xml
/.idea/dataSources/56841615-5c47-4c93-b9ab-3b3c0ea65771.xml
/.idea/codeStyles/codeStyleConfig.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/sqldialects.xml
/.idea/vcs.xml
/.idea/workspace.xml
